services:
    api:
        build: .
        expose:
            - 3000
        container_name: api
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
            interval: 5s
            timeout: 10s
            retries: 3
            start_period: 2s

    redis:
        image: redis:7.0
        container_name: redis
        expose:
            - 6379
        volumes:
            - redis_data:/data
        command:
            ["redis-server", "--appendonly", "yes", "--save", "60", "10000"]
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 2s

    oauth2-proxy:
        container_name: oauth2-proxy
        image: quay.io/oauth2-proxy/oauth2-proxy:v7.11.0-alpine
        command:
            - --upstream=http://api:3000
            - --reverse-proxy=true
            - --cookie-httponly=true
            - --request-logging=true
            - --auth-logging=true
            - --standard-logging=true
            - --session-store-type=redis
            - --redis-connection-url=redis://redis:6379/2
            - --skip-provider-button
            - --pass-access-token=false
            - --pass-authorization-header=false
            - --set-xauthrequest=true
        entrypoint:
            - oauth2-proxy
        env_file:
            - .env.oauthproxy
        ports:
            - 8000:8000
        depends_on:
            redis:
                condition: service_healthy
        healthcheck:
            test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8000/ready"]
            interval: 5s
            timeout: 10s
            retries: 3
            start_period: 2s

    nginx:
        image: nginx:alpine
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            api:
                condition: service_healthy
            oauth2-proxy:
                condition: service_healthy
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost/health"]
            interval: 5s
            timeout: 10s
            retries: 3
            start_period: 2s

volumes:
    redis_data:
