[package]
name = "shared"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
license.workspace = true
resolver = "3"

[dependencies]
deadpool-postgres = "0.14.1"
tokio-postgres = "0.7.15"
